.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
    color: white;
    overflow: hidden;
    margin: 40px 80px;
    border-radius: 30px;
}

.overlay {
    position: absolute;
    width: 1320px;
    height: 600px;
    background-image: url('../images/Banner Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.header::after {
    content: '';
    position: absolute;
    width: 1320px;
    height: 600px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
    z-index: -1;
}

.header h1 {
    font-size: 75px;
    font-family: 'Playfair Display', serif;
    margin: 10px 0;
}

.header p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.Offer-section{
    text-align: center;
}
.offer-title{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #FF0000;
    
}
.offer-title h1{
    margin-bottom: 10px;
}
section div img{
    width: 805px;
    width: 651px;
    margin-top: 0;
    margin-bottom: 20px;


}
.sub-title{
    color: #FF0000;
    font-size: 20px;
    
}
.sub-title p{
    margin-bottom: 0;
}
.mid-party {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* center vertically */
    align-items: flex-start;   /* align to the left horizontally */
    height: 600px;
    text-align: left;          /* align text inside p/h1 to the left */
    color: white;
    overflow: hidden;
    margin: 40px 80px;
    border-radius: 30px;
}

.overlay-mid-party{
    position: absolute;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1320px;
    z-index: -2;
}
.mid-party::after {
    content: '';
    position: absolute;
    width: 1320px;
    height: 600px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
    z-index: -1;
}
.party-text{
    padding-left: 80px;
}
.party-text h1{
    font-size: 50px;
    margin-bottom: 0;
}
.party-text button {
    background-color: transparent; 
    /* border: 2px solid white;        */
    color: white;                  
    padding: 10px 25px;            
    border-radius: 8px;            
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.party-text button a {
    color: inherit;              
    text-decoration: none;      
    display: inline-block;
    width: 100%;
    height: 100%;
}
.join_the-party{
    background-image: linear-gradient(to top, #ffefef, #f2e5e5 ,#efe9e9);
    background-position: center;
    width: 1220px;
    height: 482px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 30px;
    
}
.red{
    color: #FF0000;
}
.join_the-party-paragraph{
    font-size: 20px;
}
.join_the-party-paragraph button{
    background-color: #FF0000; 
    /* border: 2px solid white;        */
    color: rgb(255, 255, 255);                  
    padding: 10px 25px;            
    border: #FF0000 2px solid;
    border-radius: 5px;        
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    
}
.join_the-party-paragraph button a{
    color: inherit;              
    text-decoration: none;      
    display: inline-block;
    width: 100%;
    height: 100%;
}